<div ng-controller="sams.academics.settings.controller as settingsCtrl" ng-init="settingsCtrl.init()">
	<div ng-include="'sams/components/academics/settings/header.html'"></div>
	<div ng-include="'sams/components/academics/settings/left_nav.html'"></div>
	<div id="page-wrapper" ng-controller="academics.exam.setup.coscholastic.assessment.controller as ctrl" ng-init="ctrl.init()">
		<div class="row admin-setting-header">
			<div class="col-md-8">'{{assessmentType.examPatternName}}' - Setup Co-Scholastic Assessment</div>
			<div class="col-md-4">
					<div class="dropdown pull-right">
						<button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
							<span class="glyphicon glyphicon-tasks"></span>
						</button>
						<ul  class="dropdown-menu dropdwon-left" aria-labelledby="dropdownMenu1">
							<li ><a href="javascript:void(0)" ng-click="ctrl.openNewTermPopup()"><i class="glyphicon glyphicon-plus-sign"></i> New Term</a></li>
														
						</ul>
				</div>
			</div>
		</div>
		
		
		<div class="stepwizard" style="margin-bottom: 35px">
		    <div class="stepwizard-row setup-panel">
		      <div class="stepwizard-step">
		        <a href="#/academics/settings/{{AYID}}/setup/exam-pattern/{{selectedExamPatternId}}/step1" type="button" class="btn btn-default btn-circle .btn-inactive">1</a>
		        <p>Setup Classes</p>
		      </div>
		      
		      <div class="stepwizard-step">
		        <a href="#/academics/settings/{{AYID}}/setup/exam-pattern/{{selectedExamPatternId}}/step2" type="button" class="btn btn-default btn-circle .btn-inactive">2</a>
		        <p>Setup Scholastic Assessment</p>
		      </div>
		      
		      <div class="stepwizard-step">
		        <a href="#/academics/settings/{{AYID}}/setup/exam-pattern/{{selectedExamPatternId}}/step3" type="button" class="btn btn-default btn-circle .btn-inactive" >3</a>
		        <p>Manage Co-Scholastic Aspects</p>
		      </div>
		      
		      <div class="stepwizard-step">
		        <a href="javascript:void(0)" type="button" class="btn btn-primary btn-circle" disabled="disabled">4</a>
		        <p>Setup Co-Scholastic Assessments</p>
		      </div>
		      
		      <div class="stepwizard-step">
		       <a href="#/academics/settings/{{AYID}}/setup/exam-pattern/{{selectedExamPatternId}}/step5" type="button" class="btn btn-default btn-circle .btn-inactive">5</a>
		        <p>Scorecard Preview</p>
		      </div>
		    </div>
  		</div>
		
		
		
		<div class="row">
			<div class="col-md-12">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dt-exam-patterns">
						<thead>
							<tr>
								<th>Term Name</th>
								<th>Display Name</th>
								<th>Display Order</th>
							</tr>
						</thead>
							<tr ng-repeat="term in assessmentType.assessmentTerms">
								<td> <a href="javascript:void(0)" ng-click="ctrl.openTermPopup(term.id, term.name, term.displayName, term.displayOrder, '')"> {{term.name}}</a></td>
								<td>{{term.displayName}}</td>
								<td>{{term.displayOrder}}</td>
							</tr>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top: 20px">
				<table class="table-responsive table tbl-profile">
					<tbody>
						<tr>
							<td class="profile-label col-md-2">Grade Scale</td>
							<td class="col-md-6">
								<select class="form-control" ng-model="gradeScoreForm.gradeScaleId" ng-options="gradeScale.id as gradeScale.name for gradeScale in gradeScales">
									<option value="">-- Select Grade --</option>
									<!-- <option ng-repeat="gradeScale in gradeScales" value="{{gradeScale.id}}">{{gradeScale.name}}</option> -->
								</select>
							</td>
							<td class="col-md-4">
								
							</td>
							
						</tr>
						<tr>
							<td class="profile-label col-md-2">Scoring Method</td>
							<td class="col-md-6">
								<div style="margin-bottom: 10px">  
									<span>
										<input type="radio" ng-model="gradeScoreForm.scoringMethod" value="GRADE_BASED" ng-change="ctrl.changeScoringMethod()">  
									</span>
									<span>
										Grade Based
									</span>
								</div>
								<div style="margin-bottom: 10px">  
									<span>
										<input type="radio" ng-model="gradeScoreForm.scoringMethod" value="GRADE_TO_INDICATOR_BASED" ng-change="ctrl.changeScoringMethod()">  
									</span>
									<span>
										Grade To Overall Indicator Based
									</span>
								</div>
								<div style="margin-bottom: 10px">  
									<span>
										<input type="radio" ng-model="gradeScoreForm.scoringMethod" value="MARKS_BASED" ng-change="ctrl.changeScoringMethod()">  
									</span>
									<span>
										Marks Based
									</span>
								</div>	
								
							</td>
							<td class="col-md-4">
								
							</td>
						</tr>
						<tr>
							<td class="profile-label col-md-2">Grade Calculation Method</td>
							<td class="col-md-6">
								<div style="margin-bottom: 10px">  
									<span>
										<input type="radio" id="rd1" ng-model="gradeScoreForm.gradeCalculationMethod" value="MARKS_TO_GRADE" ng-change="ctrl.changeGradeConversionMethod()">  
									</span>
									<span>
										Convert entered marks into Grade
									</span>
								</div>	
								<div style="margin-bottom: 10px">  
									<input type="radio" id="rd2" ng-model="gradeScoreForm.gradeCalculationMethod" value="AVERAGE" ng-change="ctrl.changeGradeConversionMethod()"> 
									Convert average of criteria (indicator) marks into grade points, then convert grade points into Grade
								</div>
								<div>  
									<input type="radio" id="rd3" ng-model="gradeScoreForm.gradeCalculationMethod" value="NO_CONVERSION" ng-change="ctrl.changeGradeConversionMethod()"> No conversion required
								</div>
							</td>
							<td class="col-md-4">
								
							</td>
						</tr>
						<tr>
							<td class="profile-label col-md-2">Max. Marks of Criteria (Indicator)</td>
							<td class="col-md-6">
								<input type="text" id="maxMarks" ng-model="gradeScoreForm.maxMarks" class="form-control" />
							</td>
							<td class="col-md-4">
								
							</td>
						</tr>
				</table>
				<div><button type="button" id="saveBtn" class="btn btn-primary" ng-click="ctrl.saveGradeScaleAndScoringMethod()"><span class="glyphicon glyphicon-plus-sign"></span> Save</button></div>
		
		</div>
	
	
	
	<div class="modal" id="modalAddUpdateTerm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <form>
	    <div class="modal-content">
	       <div class="modal-header">
        		<h4 class="modal-title"> <span class="glyphicon glyphicon-plus-sign"></span> 
        			Add/Update Scholastic Term
        		</h4>
        		<div style="font-size: 12px;margin-top: 5px">
        			Please fill mandatory fields (<span class="color-red">*</span>) to add/update
        		</div>
      		</div>
      		
	      <div class="modal-body">
	          <div class="form-group">
	            <label><span class="color-red">*</span> Term Name :</label>
	            <input type="text" class="form-control" ng-model="termForm.name" ng-change="ctrl.validateForm()">
	          </div>
	          <div class="form-group">
	            <label><span class="color-red">*</span> Term Display Name :</label>
	            <input type="text" class="form-control" ng-model="termForm.displayName" ng-change="ctrl.validateForm()">
	          </div>
	          <div class="form-group">
	            <label><span class="color-red">*</span> Display Order :</label>
	            <input type="text" class="form-control" ng-model="termForm.displayOrder" ng-change="ctrl.validateForm()">
	          </div>
	      </div>
	      <div class="modal-footer">
	         <button type="button" class="btn btn-default" ng-click="ctrl.closeTermPopup()">Cancel</button>
	         <button type="button" id="btnSaveTerm" class="btn btn-primary" ng-click="ctrl.saveEvaluationTerm()"><span class="glyphicon glyphicon-plus-sign" ></span> Save Term</button>
	      </div>
	    </div>
	    </form>
	  </div>
	</div> 
	

	</div>
</div>

