<h4>Grade Meaning</h4>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Grade</th>
			<th>Overall Indicator</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="gradeIndicator in skill.skillGradeIndicatorVOs">
			<td>{{gradeIndicator.grade}}</td>
			<td> <input type="text" class="form-control" ng-model="gradeIndicator.overallIndicator"/></td>
		</tr>
	</tbody>
</table>

<button type="button" class="btn btn-primary"  ng-click="csaCtrl.saveGradeToIndicatoryMapping(skill.id)"><span class="glyphicon glyphicon-plus-sign" ></span> Save Grade To Indicator Mapping</button>
