<div>

      
      <!-- Row -2 -->
      <div class="row">
      		<div class="col-sm-12">
      			<div class="panel panel-default">
                	
                	
                	<div class="panel-heading panel-header-large"> <i class="fa fa-info-circle"></i> 
                		
                		<span ng-bind="studBriefInfo.studentName"></span>
                		
           
                	</div>
                		<div class="panel-body" >
                			<div class="row">
                <div class="col-md-2"> 
                	
                	
                		<img id="studentImage" class="img-circle img-thumbnail img-responsive profile-img" src="sams/assets/img/student_icon.png" alt="" style="width: 170px;height: 170px">
                	
                	
                </div>
                <div class="col-md-5">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-6 text-right-align">ID :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.studentId"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-6 text-right-align">Academic Year class :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.currentClass"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-6 text-right-align">Academic Yr :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.currentAcademicYear"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-6 text-right-align">Admission Status :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.status"></div>
                    </div>
                    
                    
                    
                  </form>
                </div>
                <div class="col-md-5">
                  <form class="form-horizontal">
                       <div class="form-group">
                      <label class="col-sm-6 text-right-align">Gender :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.gender"></div>
                    </div>
                     <div class="form-group">
                      <label class="col-sm-6 text-right-align">Father's Name :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.fatherName"></div>
                    </div>
                     <div class="form-group">
                      <label class="col-sm-6 text-right-align">Bus Stop :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.busStop"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-6 text-right-align">Admission Scheme :</label>
                      <div class="col-sm-6" ng-bind="studBriefInfo.admissionScheme"></div>
                    </div>
                  
                  </form>
                </div>
              </div>
                		</div>
                </div>
      		</div>
 
      </div>
	  
	
</div>
		  
	  
