<div ng-controller="academics.exam.scholastic.controller as examCtrl" ng-init="examCtrl.init()">
	
	<div class="row" ng-controller="sams.academicsession.controller as academicSeasonCtrl">
		<div class="col-md-12" >
			<h3 class="page-header">
						<select class="dropdown-in-page-header"
								ng-model="academicYear.selectedAcademicYear"
								ng-options="academicYear.academicYearId as academicYear.academicYearName for academicYear in academicYear.academicYears"
								ng-change="examCtrl.changeAcademicYear(academicYear.selectedAcademicYear)">
						</select>
						Assessment <small>Collect Exam Marks</small>
			</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
	
	
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="tab_scholastic_assessment">Scholastic Assessment</a>
			</li>
			<li>
				<a data-toggle="tab" href="#/academics/assessment/co-sch/{{filterCrt.academicYearId}}/null/null/null/null">Co-Scholastic Assessment</a>
			</li>
		</ul>
	</div>	
	</div>
		<div class="tab-content" style="background-color: #ffffff">
			<div id="tab_scholastic_assessment" class="tab-pane fade in active" style="padding-top: 25px">
				<!-- //End of row-1 -->
				<div class="row">
					<div class="col-md-12">
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Affiliation Authority</label> 
								<select class="form-control" 
										ng-model="filterCrt.auId"
										ng-options="affiliationAuthority.id as affiliationAuthority.displayName for affiliationAuthority in affiliationAuthorities"
										ng-change="examCtrl.selectAffiliationAuthority()">
									
									<option value="">--- Select Affiliation Authority ---</option>
									
								</select>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Class</label> 
									<select class="form-control"
											ng-model="filterCrt.classId"
											ng-options="clazz.classId as clazz.className for clazz in classes"
											ng-change="examCtrl.selectClass()">
										<option value="" selected="selected">--- Select Class ---</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Class Section</label> 
								<select class="form-control"
										ng-model="filterCrt.sectionId"
										ng-options="section.id as section.sectionName for section in sectionList"
										ng-change="examCtrl.getStudentScores()">
									<option value="" selected="selected">--- Select	Section ---</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Subject</label> 
								<select class="form-control"
										ng-model="filterCrt.subjectId"
										ng-options="subject.id as subject.subjectName for subject in subjectList"
										ng-change="examCtrl.getStudentScores()">
										
										<option value="" selected="selected">--- Select Subject ---</option>
										
								</select>
							</div>
						</div>
						
					</div>
				</div>
				<!-- //End of row-1 -->
				
				<!-- //Start of row-2 -->
				<div class="row">
					<div class="col-md-12">
						
				
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Term</label> 
								<select class="form-control"
										ng-model="filterCrt.evaluationTermId"
										ng-options="evaluationTerm.id as evaluationTerm.name for evaluationTerm in evaluationTerms"
										ng-change="examCtrl.selectEvaluationTerm()">
									
									<option value="" selected="selected">--- Select Term ---</option>
									
								</select>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Term Assessment</label> 
								<select class="form-control"
										ng-model="filterCrt.termAssessmentId"
										ng-options="termAssessment.id as termAssessment.name for termAssessment in termAssessments"
										ng-change="examCtrl.getStudentScores()">
									
									<option value="" selected="selected">--- Select Assessment ---</option>
									
								</select>
							</div>
						</div>
						
				
					</div>
				</div>
				<!-- //End of row-2 -->
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-list"></span> Student(s)
								
							</div>
							<div class="panel-body">
								<form name="scoreCollectionForm">
								
								<div class="alert alert-danger"  ng-show="!scoreCollectionForm.$valid">
			  						<span class="glyphicon glyphicon-warning-sign"></span>
								  <strong>Opps Error !!! </strong> Some of the entered values are not valid. Please correct invalid values.
								</div>
								
								<div class="dataTable_wrapper">
									<table id="dt-stud-marks" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												
												<th>Student ID</th>
												<th>Student Name</th>
												<th>Father Name</th>
												<th>Gender</th>
												<th>Section</th>
												<th>Marks (Out Of {{maxMarks}})</th>
											</tr>
										</thead>
										<tbody>
											
												<tr ng-repeat="studentScore in studentScores">
													
													<td><a href="#/academics/student/scorecard/{{studentScore.studentDBId}}">{{studentScore.studentId}}</a></td>
													<td ng-bind="studentScore.studentName"></td>
													<td ng-bind="studentScore.fatherName"></td>
													<td ng-bind="studentScore.studentGender"></td>
													<td ng-bind="studentScore.studentSection"></td>
													<td><input type="number" min="0" max="{{maxMarks}}" ng-model="studentScore.marksObtained" ng-change="validateForm(this)" ng-class="ng-invalid"/></td>
												</tr>
											
										</tbody>
					
					
									</table>
								</div>
								<div class="pull-right" ng-show="showSaveButton">
									<button id="btnCollectMarks" 
											has-permission='ROLE_ACADEMICS_EXAM_MARKS_COLLECTION' 
											class="btn btn-primary btn-sm"
											ng-click="examCtrl.saveMarks()"
											ng-disabled="scoreCollectionForm.$invalid"> 
											<span class="glyphicon glyphicon-save"></span> Collect Marks
									</button>
								</div>
					
							</div>
							</form>
	</div>
		</div>		
			</div>
			</div>
		</div>
	
</div>

<script>

/* $(document).ready(function() {
	$('#dt-stud-marks').DataTable({
	        responsive: true,
	        "bPaginate": false,
	        "order": [[ 1, "desc" ]]
	});
});    */


</script>