<div>
	   	   <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-md-12"> Student <small> Fee Collection</small> </div>
     
			</div>
          </h3>
        </div>
      </div>
    
      <!-- // Row -1 -->
      <div ng-include="'sams/components/fee/student/student_brief_info.html'"></div>
	
	  <div class="row" ng-controller="student.fee.controller as ctrl" ng-init="ctrl.getInstallmentForPayment()">
	  		
	  		<div class="col-sm-12">
      			<div class="panel panel-default">
      				<div class="panel-heading"> 
      					<i class="fa fa-info-circle"></i> Collect Installment Fee
      			         <div class="pull-right">
      			         <a href="#/fee/studentfee/{{studentId}}/null">Back to Fee Pay View</a>    
      					</div>
      				</div>
                		<div class="panel-body" block-ui="block-fee-collection-section">
                			<form id="admissionForm" ng-submit="ctrl.payFee()"> 
                				<div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover responsive" id="dt-stud-fee-detail">
                  <thead>
                    <tr>
                      
                      <th>Fee Head</th>
                      <th>Total Payable</th>
                      <th>Paid</th>
                      <th>Unpaid</th>
                      <th>Pay Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  	
                  	<tr ng-repeat="feeHead in installmentDetail.installmentHeads">
                  		<td>{{feeHead.feeHeadName}}</td>
                  		<td>{{feeHead.amount}}</td>
                  		<td>{{feeHead.paid}}</td>
                  		<td>{{feeHead.unpaid}}</td>
                  		<td>
                  			<input type="number" ng-if="feeHead.unpaid <= 0" class="form-control payableFee" size="2" ng-model="feeHead.payable" disabled="disabled" style="background-color: #ffffff"/>
                  			<input type="number" ng-if="feeHead.unpaid > 0" class="form-control payableFee" size="2" ng-keyup="ctrl.changePayingTotal()" ng-model="feeHead.payable"/>
                  		</td>
                  	</tr>
                  	 
                  </tbody>
				  <tfoot>
				  	<tr style="background-color: #f4f4f4">
				  		<th>Total</th>
                      <th ng-bind="installmentTotal.totalFee"></th>
                      <th ng-bind="installmentTotal.paidTotal"></th>
                      <th ng-bind="installmentTotal.unPaidTotal"></th>
                      <th ng-bind="installmentTotal.payingTotal"></th>
				  	</tr>
				  </tfoot>	                  
                  
                </table>
                
                <div>
               		<table class="table-responsive table tbl-profile">
               			<tbody>
               				<tr id="receiptHeaderRow" style="display: none;">
               					<td>
               						<div class="form-group" >
               							<label >Select Receipt Header :</label>
	               						<select class="form-control" ng-model="installmentDetail.receiptHeaderId" ng-options="feeReceiptHeader.id as feeReceiptHeader.displayName for feeReceiptHeader in feeReceiptHeaders">
	               						</select>
               						</div>
               					</td>
               					<td colspan="3"></td>
               				</tr>
               				<tr>
               					<td>
               						<div class="form-group" >
									     <label >Payment Mode:</label> 
									     <select class="form-control" ng-model="installmentDetail.paymentMode" ng-change="ctrl.paymentModeChange()">
									          <option value="Cash">Cash</option>
									          <option value="Cheque">Cheque</option>
									          <option value="DD">DD</option>
									     </select>
				                  	</div>
               					</td>
               					<td>
               						<div class="form-group" >
									     <label >Payment Date:</label> 
									     <input type="text" id="paymentDate" class="form-control" ng-model="installmentDetail.paymentDate" readonly="readonly" style="background-color: #ffffff"/>
				                  	</div>
               					</td>
               					<td>
               						<div class="form-group" >
									     <label >Deposited By:</label> 
									     <input type="text" class="form-control" ng-model="installmentDetail.depositedBy"/>
				                  	</div>
               					</td>
               					<td>
               						<div class="form-group" >
									     <label >Comments:</label> 
									     <input type="text" class="form-control" ng-model="installmentDetail.comments"/>
				                  	</div>
               					</td>
               				</tr>
               				<tr id="bank-details" style="display: none">
               					<td>
               						<div class="form-group" >
									     <label ><span class="color-red">*</span> Cheque/DD No:</label> 
									     <input type="text" class="form-control" ng-model="installmentDetail.chequeDDNo"/>
				                  	</div>
               					</td>
               					<td>
               						<div class="form-group" >
									     <label ><span class="color-red">*</span> Cheque/DD Date:</label> 
									     <input type="text" id="chequeDDDate" class="form-control" ng-model="installmentDetail.chequeDDDate" readonly="readonly" style="background-color: #ffffff"/>
				                  	</div>
               					</td>
               					<td>
               						<div class="form-group" >
									     <label ><span class="color-red">*</span> Bank Name:</label> 
									     <select class="form-control" ng-model="installmentDetail.chequeDDBankName">
									          <option value="" selected="selected">---------- Select Bank ----------</option>
									          <option value="State Bank Of India">State Bank Of India</option>
									          <option value="Bank of India">Bank of India</option>
									          <option value="IDBI">IDBI</option>
									          <option value="HDFC">HDFC</option>
									          <option value="Axis">Axis</option>
									     </select>
				                  	</div>
               					</td>
               					
               					<td>
               						<div class="form-group" >
									     <label ><span class="color-red">*</span> Branch Name:</label> 
									     <input type="text" class="form-control" ng-model="installmentDetail.bankBranchName"/>
				                  	</div>
               					</td>
               					
               				</tr>
						</tbody>	    			
               		</table>
               		
                  	
                </div>
        
            <div id="errorMsg" class="alert alert-danger" style="display: none" >
			  <span class="glyphicon glyphicon-warning-sign"></span>
			  <strong>Opps Error !!! </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If payment mode is other than Cash, then please provide Bank/Cheque/DD details before collecting fee
			</div>
            <div has-permission="ROLE_STUD_FEE_COLLECT" class="pull-right">
                	<button type="button" id="btn-collect-fee" class="btn btn-info" ng-click="ctrl.checkForPaymentConfirmation()">Collect Fee</button>
            </div>
   </div>
              
              <!-- Modal -->
	<div class="modal fade" id="modalConfirmPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body">
	        You are about to collect amount <span id="collectionAmount" style="font-weight: bold;text-decoration: underline;"></span> in total. Do you confirm this payment ? 
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-info" ng-click="ctrl.closeConfirmationBox()">Don't Proceed</button>
	        <button type="button" class="btn btn-info" ng-click="ctrl.payFee()">Proceed</button>
	      </div>
	    </div>
	  </div>
	</div> 
	
	<div class="modal" id="modalPostPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body">
	        Fee collected successfully with transaction no# <span ng-bind="transaction_no"></span> and fee receipt no# <span ng-bind="receipt_no"></span>. 
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-info" ng-click="ctrl.closePostPaymentBox()">Close</button>
	        <button type="button" class="btn btn-info" ng-click="ctrl.printReceipt()"><span class="glyphicon glyphicon-print"></span> Print Receipt</button>
	      </div>
	    </div>
	  </div>
	</div> 
              
              
              </form>
                		</div>
      			</div>
      		</div>	

	
    	  </div>	
		
</div>  

<script type="text/javascript">

$(function() {

    
$( "#chequeDDDate").datepicker({
		dateFormat:'d-M-yy',
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true
})



$( "#paymentDate").datepicker({
		dateFormat:'d-M-yy',
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true
})

})    
</script>
