

<div class="row">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-sm-6 col-md-8"> <span class="glyphicon glyphicon-transfer"></span> Student Fee Information</div>
              <div class="col-sm-6 col-md-4">
                <div class="row">
					<div class="col-sm-10 col-md-10" ng-controller="student.quick.search.controller as searchCtrl" ng-init="searchCtrl.initForFeeCollection()">
						  <div class="form-group input-group ">
							  <input id="txtBoxsearchStud" type="text" class="form-control" placeholder="Search Student by student ID or Name">
							  <span class="input-group-btn" >
								<button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>
							  </span> 
						 </div>
					</div>
					<div class="col-sm-2 col-md-2">
						 <!-- 
						 <div class="dropdown">
							  <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
								<span class="glyphicon glyphicon-tasks"></span>
							  </button>
							   <ul class="dropdown-menu pull-left" aria-labelledby="dropdownMenu1">
									<li><a href="admission_new.html">New Addmision</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Renew Addmision</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Promote Admission</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
							 </ul>
						</div>
						 -->
					</div>
					<div class="clearfix visible-sm-block visible-md-block"></div>
				</div>
              </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
			</div>
          </h3>
        </div>
      </div>
</div>  