<div ng-controller="transportation.student.controller as ctrl" ng-init="ctrl.getBusFacilityAdoptedStudents()">
	  <!-- Row -1 -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-md-12" ng-controller="sams.academicsession.controller as asCtrl" ng-init="asCtrl.getCurrentAdmissionAcademicYear()"> 
              		<i class="fa fa-bus"></i> <span ng-bind="admissionAcademicYear"></span> Bus Adopted <small>Admissions</small> 
              </div>

			</div>
          </h3>
        </div>
      </div>
      <!-- // Row -1 -->
      <!-- Row -2 -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-list-ul"></i> Students
              <div class="pull-right">
                
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle btn-panel-default " data-toggle="dropdown"> Student View &nbsp;<span class="caret"></span> </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#/transportation/students/busadopted/busstopwisecount">Bus Stop View</a></li>
                    <li><a href="#/transportation/students/busadopted/classwisecount">Class View</a></li>
                    <li><a href="#/transportation/students/busadopted/list">Student View</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-body">
            	<div ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="myGrid" ></div>
      <!--         <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dt-student-list">
                  <thead>
                    <tr>
                      <th>Student ID#</th>
                      <th>Student Name</th>
                      <th>Father's Name</th>
                      <th>Gender</th>
                      <th>Current Class</th>
                      <th>Bus Stop</th>
                    </tr>
                  </thead>
                  
                  
                  
                </table>
              </div> -->
            </div>
          </div>
        </div>
      </div>
	  
	  <!-- // Row -2 -->
	  </div>
<script>
     
     
     
   
     
     
     
    /*  $(document).ready(function() {
        $('#dt-student-list').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "order": [[ 1, "asc" ]],
                "columns": [
                            
                            { "data": "studentId","render" : function(data, type, row, meta){
								
						        return $('<a>').attr('href', "#/admissions/studentdetails/"+row['id']).text(data).wrap('<div></div>').parent().html();
							} },
                            { "data": "name" },
                            { "data": "guardianName" },
                            { "data": "gender" },
                            { "data": "currentClass" },
                            { "data": "busStop" }
                           
                        ]
        });
    });  */
	
    </script>	  