<div>
	  <!-- Row -1 -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-md-12"> Student Information </div>
             
            <div class="clearfix visible-sm-block visible-md-block"></div>
			</div>
          </h3>
        </div>
      </div>
      <!-- // Row -1 -->
      
      <div ng-controller="student.controller as studCtrl" ng-init="studCtrl.fetchStudentDetails()">
      
       <input type="file" file-model="myFile"/> 
      
      
      <div ng-include="'sams/components/student/student_info_section.html'"></div>
      <div ng-include="'sams/components/student/student_personal_information.html'"></div>
      
      </div>
      <!-- Row -2 -->
      
	   <new-admission/>   
	  <!-- // Row -2 -->
	  </div>
  