
      <div ng-controller="sams.admission.dashboard.controller">
	  <!-- Row -1 -->
      <div class="row" ng-controller="student.quick.search.controller as searchCtrl" ng-init="searchCtrl.init()">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-sm-6 col-md-8" ng-controller="sams.academicsession.controller as asCtrl" ng-init="asCtrl.getCurrentAdmissionAcademicYear()">
              		<i class="fa fa-dashboard"></i> <span ng-bind="admissionAcademicYear"> </span> Admission <small>Dashboard</small> 
              </div>
              <div class="col-sm-6 col-md-4">
    
              </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
			</div>
          </h3>
        </div>
      </div>
      <!-- // Row -1 -->
     
	  <!-- Row -2 -->
      <div class="row">
        <div class="col-sm-6 col-md-3" block-ui="block-cnfadmn">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-2 col-md-3"> <span class="glyphicon glyphicon-user fa-5x"></span> </div>
                <div class="col-sm-10 col-md-9 text-right">
                  <div class="huge" id="confirmAdmissionCount1"></div>
                  <div>Confirm Admissions !</div>
                </div>
              </div>
            </div>
            <a href="#/admissions/studentview/5/null">
            <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
            </a> 
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel panel-green" block-ui="block-newadmn">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-2 col-md-3"> <i class="glyphicon glyphicon-plus-sign fa-5x"></i> </div>
                <div class="col-sm-10 col-md-9 text-right">
                  <div class="huge" id="newAdmissionCount"></div>
                  <div>New Admissions !</div>
                </div>
              </div>
            </div>
            <a href="#/admissions/studentview/new/null"">
            <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
            </a> 
          </div>
        </div>
		<div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-3">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-2 col-md-3"> <i class="glyphicon glyphicon-eye-open fa-5x"></i> </div>
                <div class="col-sm-10 col-md-9 text-right">
                  <div class="huge">NA</div>
                  <div>Queue Admissions !</div>
                </div>
              </div>
            </div>
            
            <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-2 col-md-3"> <i class="fa fa-support fa-5x"></i> </div>
                <div class="col-sm-10 col-md-9 text-right">
                  <div class="huge" id="schemeAdmissionCount"></div>
                  <div>Under Scheme Admissions !</div>
                </div>
              </div>
            </div>
            <a href="#/admission/underscheme/5/null">
            <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
            </a> </div>
        </div>
      <div class="clearfix visible-sm-block"></div>
	  <div class="clearfix visible-md-block"></div>
	  </div>
      <!-- // Row -2 -->
      
	  <!-- Row -3 -->
      <div class="row">
        <div class="col-sm-7 col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Class wise Admissions graph 
			<div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle btn-panel-default " data-toggle="dropdown"><span id="admissionType">Confirm Admissions</span> &nbsp; <span class="caret"></span> </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart(1)">Cancelled Admissions</a> </li>
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart(5)">Confirm Admissions</a> </li>
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart(3)">Degree Awarded</a> </li>
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart('new')">New Admissions</a> </li>
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart(4)">New Registrations</a> </li>
                    <li><a href="javascript:void(0)" onclick="updateClassWiseChart(6)">Renewed Admissions</a> </li>
                  </ul>
                </div>
                
              </div>
			</div>
            <div class="panel-body">
            
            	Graph will be displayed here
             <!--  <am-chart id="myFirstChart" options="amChartOptions" height="100%" width="100%"></am-chart> -->
              
	
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"> <span class="glyphicon glyphicon-user"></span> &nbsp; Admissions </div>
            <div class="panel-body">
              <div class="list-group" block-ui="block-diffadmns"> 
              	<a href="#/admissions/studentview/1/null" class="list-group-item"> <i class="fa fa-minus-square"></i> Cancelled Admissions<span class="pull-right text-muted small"><em><span id="cancelAdmissionCount"></span></em> </span> 
              	</a>
              	<a href="#/admissions/busfacility/students/status/5/null" class="list-group-item"> <i class="fa fa-bus"></i> Bus Facility adopted <span class="pull-right text-muted small"><em><span id="busAdoptedAdmissionCount"></span></em> </span> 
              	</a>
              	<a href="#/admissions/nobus/students/5/null" class="list-group-item"> <i class="fa fa-bus"></i> Bus Facility not adopted <span class="pull-right text-muted small"><em>{{busNotAdoptedCount}}</em> </span> 
              	</a>
              	<!-- <a href="#/admissions/studentview/3/null" class="list-group-item"> <span class="glyphicon glyphicon-education"></span> Degree Awarded<span class="pull-right text-muted small"><em><span id="degreeAwardedAdmissionCount"></span></em> </span> --> 
              	</a>
              	<a href="#/admissions/studentview/4/null" class="list-group-item"> <span class="glyphicon glyphicon-link"></span> New Registrations <span class="pull-right text-muted small"><em><span id="newRegistrationsCount"></span></em> </span> 
              	</a>
              	<a href="#/admissions/toberenewed" class="list-group-item"> <span class="glyphicon glyphicon-transfer"></span> Pending for Renewal <span class="pull-right text-muted small"><em><span id="pendingForRenewalAdmissionCount"></span></em> </span> 
              	</a> 
              	<a href="#/admissions/studentview/6/null" class="list-group-item"> <i class="fa fa-comment fa-fw"></i> Renewed Admissions <span class="pull-right text-muted small"><em><span id="renewRegistrationsCount"></span></em> </span> 
              	</a>  
              	 
              	 
              	 
              	 
              </div>
            </div>
          </div>
        </div>
      <div class="clearfix visible-sm-block visible-md-block"></div>
	  </div>
	  <new-admission/>
      <!-- // Row -3 -->	
	 </div>
<script>

/* var classwiseChart = new FusionCharts(_appContextPath+'/sams/assets/libs/fusion-charts/FCF_Column3D.swf', "classwiseChart", "800", "250");

function renderClasswiseChart(){
	 $.ajax({
		type : 'GET',
		url : _appContextPath+"/ws/admission/dashboard/classwisexml/5",
		success : renderClasswiseChartSuccess
	});	
}

function renderClasswiseChartSuccess(response){
	classwiseChart.setDataXML(response); 
	classwiseChart.render("classwiseChartContainer");
}

function updateClassWiseChart(studStatus){
	 
	if(studStatus == 5){
		$("#admissionType").html("Confirm Admissions");
	}else if(studStatus == 4){
		$("#admissionType").html("New Registrations");
	}else if(studStatus == 6){
		$("#admissionType").html("Rennew Admissions");
	}else if(studStatus == 1){
		$("#admissionType").html("Cancelled Admissions");
	}else if(studStatus == 3){
		$("#admissionType").html("Degree Awarded");
	}
	
	
	
	$.ajax({
		type : 'GET',
		url : _appContextPath+"/ws/admission/dashboard/classwisexml/"+studStatus,
		success : updateClassWiseChartSuccess
	});
	 
}

function updateClassWiseChartSuccess(response){
	 updateChartXML("classwiseChart",response);
}

$(function() {
	renderClasswiseChart();
});

 */
</script>
 