<div ng-controller="admission.manage.renewal.controller as admnCtrl" ng-init="admnCtrl.fetchAdmissionToBeRenewed()">
	  <!-- Row -1 -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3 class="page-header">
            <div class="row">
              <div class="col-sm-6 col-md-8"> <span class="glyphicon glyphicon-transfer"></span> Admissions Pending for Renewal </div>
              <div class="col-sm-6 col-md-4">
   
              </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
			</div>
          </h3>
        </div>
      </div>
      <!-- // Row -1 -->
      <!-- Row -2 -->
      <div class="row" block-ui="block-studlist">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading"> 
            	<i class="fa fa-list"></i>&nbsp;&nbsp;Pending for Renewal
            	     <div class="pull-right">
                
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle btn-panel-default" data-toggle="dropdown"> Student View &nbsp;<span class="caret"></span> </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#/admissions/toberenewed/classwise">Class View</a></li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="panel-body">
             	 <div ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns  class="myGrid" ></div>
  
            </div>
          </div>
        </div>
      </div>
	   <new-admission/>   
	  <!-- // Row -2 -->
	  </div>
	  