<div ng-controller="transportation.bus.student.controller as ctrl" ng-init="ctrl.getArrivalStudents()">
      
    <div ng-include="'sams/components/transportation/settings/header.html'"></div>
	<div ng-include="'sams/components/transportation/settings/left_nav.html'"></div>
      
     <div id="page-wrapper">
		<div class="row admin-setting-header">
			<div class="col-md-12" ng-controller="sams.academicsession.controller as asCtrl" ng-init="asCtrl.getCurrentAdmissionAcademicYear()"> 
              		<i class="fa fa-bus"></i> <span ng-bind="admissionAcademicYear"></span> - Bus '{{vehicle.vehicleName}}'
              		<small>Students</small> 
             </div>
		</div>
           
          <div class="row">
		        <div class="col-sm-12">
		         		<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="tab_arrival_students">Arrival</a>
							</li>
							<li>
								<a data-toggle="tab" href="#/transportation/bus/{{academicSessionBusId}}/students/departure">Departure</a>
							</li>
						</ul>
		        </div>
		</div>
		      <div class="tab-content" style="background-color: #ffffff">
      		<div id="tab_arrival_students" class="tab-pane fade in active" style="padding: 25px">
				<div class="row" style="margin-bottom: 30px">
					<div class="col-md-4">
						<span   ng-show="showDropDown">Route : <select ng-model="vehicleRouteStudentInfo.routeId" ng-options="route.id as route.name for route in vehicleRouteStudentInfo.routes" ng-change="ctrl.getArrivalRouteStudents()">
							
						</select>
						</span>
					</div>
					<div class="col-md-8">
						<span class="pull-right">
							<a id="linkDriverView" href="javascript:void(0)" ng-click="ctrl.switchToDataTableView()">Switch to Driver List View</a>
							<a id="linkClassicView" href="javascript:void(0)" style="display: none" ng-click="ctrl.switchToClassicView()">Switch to Classic View</a>
						</span>
					</div>
				</div>
				<div class="row">
		              <div id="list-ui-grid" ui-grid="arrivalGridOptions" ui-grid-exporter ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="myGrid" />
		              <div id="list-data-table" style="display: none">
		              	<div class="dataTable_wrapper">
			                <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-striped table-bordered table-hover" id="dt-arrival-students">
			                  <thead>
			                    <tr>
			                      <th>ID</th>
			                      <th>Student Name</th>
			                      <th>Gender</th>
			                      <th>Father's Name</th>
			                      <th>Bus Stop</th>
			                      <th>Class</th>
			                      <th>Contact No</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                  </tbody>
			                  
			                  
			                </table>
              			</div>
		              </div>
				</div>
      		</div>
      </div>
    </div>  
      
      
      
     
     

</div>
<script>
$(document).ready(function() {
    $('#dt-arrival-students').DataTable({
            responsive: true,
            "bPaginate": false,
            "bFilter": false,
            "order": [[ 1, "desc" ]],
            "columns": [
							{ "data": "studentId"},
							{ "data": "nameInOtherLanguage"},
							{ "data": "studentGender"},
							{ "data": "fatherNameInOtherLanguage"},
							{ "data": "busStopNameInOtherLanguage"},
							{ "data": "studentClass"},
							{ "data": "fatherContact"}
							
                        ]
    });
}); 
</script>
  